/* TODO: Ideally we wouldn’t have to reference `index` here */
@import "tailwindcss/index";
/* TODO: Get esbuild to rebuild when sources change */
@source "../../templates";

body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
}
